body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* header {
  background-color: #404040;
  padding: 1rem;
}
header a {
  color: #ffffff;
  font-weight: bold;
  text-decoration: none;
} */
h1{
  /* color: #fff; */
  font-size: 1.7rem;
}
header{
  position: sticky;
  top: 0;
  Z-index: 10000;

}

.site-container{
  min-height: 100vh;
}
main {
  flex: 1;
  /* background-color: #202142; */
  
}
.btn-primary,
.btn-outline-primary{
  /* background-color: #f0c040; 
  color: #000; */
  outline-style: none;
  border-color: transparent;
  background-color: #ff6a95; 
  color: #fff; 
}
.products {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.rating{
  /* color: #ffc000;  */
  color: #ff6a95; 
}
.product {
  border: 1px #404040 solid;
  margin: 1rem;
}
.product img {
  width: 100%;
  max-width: 400px;
}
.product-info {
  padding: 1rem;
}
.img-large{
  max-width: 100%;
} 
.img-thumbnail{
  height: 80px;
}
.small-container{
  max-width: 600px;
} 

/* Step1 Step4 Step3 Step4 */
.checkout-steps > div {
  border-bottom: 0.2rem solid #a0a0a0;
  color: #a0a0a0;
}
.checkout-steps > div.active {
  border-bottom: 0.2rem solid #f08000;
  color: #f08000;
}
/* sidebar */
.navbar-brand{
  font-weight: bold;
}
.side-navbar{
  width: 240px;
  height: 100%;
  position: absolute;
  left: -300px;
  background-color: #100901;
  transition: 0.5s;
}
.site-container{
  transition: 0.4s;
}
.active-cont{
  margin-left: 240px;
}
.active-nav{
  left: 0;
}
.text-bold{
  font-weight: bold;
}

